<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>WebCrawlerUI</display-name>

	<welcome-file-list>
		<welcome-file>new_file.zul</welcome-file>
		<welcome-file>pages/spcp/spcp_layout.zul</welcome-file>
		<welcome-file>index.zul</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- ZK -->
	<listener>
		<description>
		Used to cleanup when a session is destroyed</description>
		<display-name>ZK Session cleaner</display-name>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>
	<servlet>
		<description>
		The ZK loader for ZUML pages</description>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		The asynchronous update engine for ZK</description>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau/*</url-pattern>
	</servlet-mapping>

	<!-- Servlet -->
	<servlet>
		<display-name>CrawlListServlet</display-name>
		<servlet-name>CrawlListServlet</servlet-name>
		<servlet-class>com.bcinfo.wapportal.repository.crawl.ui.servlet.CrawlListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrawlListServlet</servlet-name>
		<url-pattern>/CrawlListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CrawlResourceServlet</display-name>
		<servlet-name>CrawlResourceServlet</servlet-name>
		<servlet-class>com.bcinfo.wapportal.repository.crawl.ui.servlet.CrawlResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrawlResourceServlet</servlet-name>
		<url-pattern>/CrawlResourceServlet</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://jsptags.com/tags/navigation/pager</taglib-uri>
			<taglib-location>/WEB-INF/tld/pager-taglib.tld</taglib-location>
		</taglib>
	</jsp-config>
	<!--
		<filter> <filter-name>Set Character Encoding</filter-name>
		<filter-class>com.bcinfo.wapportal.repository.crawl.ui.filter.SetCharacterEncodingFilter</filter-class>
		<init-param> <param-name>encoding</param-name>
		<param-value>GBK</param-value> </init-param> </filter>
		<filter-mapping> <filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern> </filter-mapping>
	-->
	<servlet>
		<description></description>
		<display-name>ChannelMappingServlet</display-name>
		<servlet-name>ChannelMappingServlet</servlet-name>
		<servlet-class>com.bcinfo.wapportal.repository.crawl.ui.servlet.ChannelMappingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChannelMappingServlet</servlet-name>
		<url-pattern>/ChannelMappingServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletConfigurator</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
		<init-param>
			<param-name>xmlFile</param-name>
			<param-value>WEB-INF/proxool.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ChannelManagementServlet</display-name>
		<servlet-name>ChannelManagementServlet</servlet-name>
		<servlet-class>com.bcinfo.wapportal.repository.crawl.ui.servlet.ChannelManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChannelManagementServlet</servlet-name>
		<url-pattern>/ChannelManagementServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.bcinfo.wapportal.repository.crawl.ui.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CrawlListConfigServlet</display-name>
		<servlet-name>CrawlListConfigServlet</servlet-name>
		<servlet-class>com.bcinfo.wapportal.repository.crawl.ui.servlet.CrawlListConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrawlListConfigServlet</servlet-name>
		<url-pattern>/CrawlListConfigServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ConfigServlet</display-name>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>com.bcinfo.wapportal.repository.crawl.ui.servlet.ConfigServlet</servlet-class>
		<init-param>
			<description>配置文件</description>
			<param-name>configFile</param-name>
			<param-value>WEB-INF/config.properties</param-value>
		</init-param>
		<init-param>
			<description>日志文件</description>
			<param-name>logFile</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/ConfigServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>